{%extends "master.html"%}
{%block contenido%}
<div class="row">
  <div class="col-md-7 col-md-offset-3 page-header">
    <h1>Farmacia&nbsp{{ Farmacia.nombre | upper }}<small>&nbspAdministración</small></h1>
  </div>
    <div class="col-md-7 col-md-offset-2">

        <div class="panel panel-default">
            <div class="panel-heading">
                <p><h3>Medicamentos</h3></p><br>
            </div>
            <div class="panel-body">
              <div class="row">
                {%for m in En %}
                <div class="col-sm-7 col-md-4">
                  <div class="thumbnail">
                    <!-- <img src="..." alt="..."> -->
                    <div class="caption">
                      <h3>{{m.nombre}}</h3>
                      <p>{{m.nombreGenerico}}</p>
                      <p>{{m.dosis}}</p>
                      <p>{{m.viaAplicacion}}</p>
                      <button type="button" class="btn btn-primary" onclick="ponerhrefAe({{m.id}})" data-toggle="modal" data-target="#myModal">Agregar</button>
                    </div>
                  </div>
                </div>
              {%endfor%}
              </div>
              <a id="aux" href=""></a>

            </div>
        </div>
    </div>
    <div class="col-md-2">
      <a href="/inicioFarmMed?id={{Farmacia.id}}" class="btn btn-success">Regresar</a><br><br>
      <a href="/salir" class="btn btn-danger">Salir</a>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Debe asignar un medicamento a esta enfermedad</h3>
      </div>
      <div class="modal-body">
        <!-- <select class="form-control" name = "selecEnf"> -->
          <!-- <option value=""></option> -->
          {%for fm in medFar%}
          <div class="col-sm-7 col-md-4">
            <div class="thumbnail">
              <!-- <img src="..." alt="..."> -->
              <div class="caption">
                <h4><b>{{fm.idmedicamento.nombreGenerico}}</b></h4>
                <p>{{fm.idmedicamento.nombreComercial}}</p>
                <p>{{fm.idmedicamento.dosis}}</p>
                <p>{{m.viaAplicacion}}</p>
                <button type="button" onclick="redireccione({{Farmacia.id}},{{fm.idmedicamento.id}})" class="btn btn-primary hrff" name="button">Agregar</button>
                <!-- <a id = "hrff" name="hrff" href="" onclick="redireccione({{Farmacia.is}},{{fm.idmedicamento.id}})" class="btn btn-primary hrff">Agregar</a> -->
              </div>
            </div>
          </div>
          <!-- <option value="{{e.id}}">{{fm.idmedicamento.nombreComercial}}</option> -->
          {%endfor%}
        <!-- </select><br><br> -->
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

{%endblock%}
