{%extends "master.html"%}
{%block contenido%}
  <div class="row">
    <div class="col-md-6 col-md-offset-3" >
      <div class="panel panel-default">

          <div class="panel-heading">
              <h1><p>Medicamentos para {{enfermedades.nombre}}</p></h1>
          </div>
          <div class="panel-body">
              <a href="/cliente" class="btn btn-success">Regresar</a>
              <a href="../" class="btn btn-danger">Inicio</a>
              <br>
          </div>
          <table class="table">
            <tr>
              <td><b>Nombre Comercial</b></td>
              <td><b>Nombre Generico</b></td></tr>
              {%for p in medicamento%}
              <tr>
                <td>{{p.idmedicamento.nombreComercial}}</td>
                <td>{{p.idmedicamento.nombreGenerico}}</td>
                <td><a href="/listarFarmacia?id={{p.id}}">Detalles</a></td>
              </tr>
              {%endfor%}
            </tr>
          </table>


      </div>

    </div>
  </div>
{%endblock%}
