{%extends "master.html"%}
{%block contenido%}
    <div class="row">
        <div class="col-md-3 col-sm-offset-5">
            <div class="page-header">
                <h2>Registro Usuario</h2>
            </div>
            <form method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <table>
                {{ form }}
              </table>
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a href="/" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
{%endblock%}
