{%extends "master.html"%} {%block contenido%}
<div class="row">
    <div class="col-md-3 col-sm-offset-5">
        <div class="page-header">
            <h2>Registro Medicamento</h2>{{Farmacia.nombre}}
        </div>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form }}
            </table><br>
            <button type="submit" class="btn btn-primary">Registrar</button>
            <a href="../farmaceutico" class="btn btn-danger">Atras</a>
        </form>
    </div>
</div>
{%endblock%}
